@model IntroMonitoringEngineering.ViewModel.Detail.DetailCreateViewModel

@{
    ViewData["Title"] = "Create Detail";
}

<h2 class="text-light">Create Detail</h2>

<div class="container field w-25 description-text">

    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Description" class="text-light m-3"></label>
           @*  <input asp-for="Description" class="form-control" /> *@
            <div>
                <textarea id="Description" name="Description" rows="4" cols="30" required></textarea>
            </div>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="CategoryId" class="text-light m-3">Category</label>
            <select asp-for="CategoryId" class="form-control" asp-items="Model.Categories">
                <option value="">-- Select Category --</option>
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Images" class="text-light m-3">Upload Images</label>
            <input asp-for="Images" type="file" multiple class="form-control" />
            <span asp-validation-for="Images" class="text-danger"></span>
        </div>

        <div class="form-group mt-4">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>


</div>





@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
